################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookMarker/.vs/BookMarker/v15/Server/sqlite3
